# Dependencies
node_modules

# Environment variables
.env

# Postgre volume
postgres-data

# Others

*.log
.DS_Store
/src/generated/prisma

# AI Context Files (não versionar)
testing-ai-guide.md

# Test
coverage
